
<div class="tab-css">
    <ul class="nav nav-tabs">
        <li class="active tabs"><a data-toggle="tab" href="#listingtab">Listings</a></li>
        <li class="tabs"><a data-toggle="tab" href="#restab" >Reservations</a></li>
    </ul>
    <div class="tab-content">
        <div id="listingtab" class="tab-pane fade in active">
            <h2>Listings</h2>
            <br>
            <p>Here we will be able to see all of the existing Listings provided from Renters</p>
        </div>
        <div id="restab" class="tab-pane fade">
            <h2>My Reservations</h2>
            <br>
            <p>Here is where we will be able to see all reservations that have been accepted by this particular user...</p>
        </div>
    </div>
</div>

                          