<div class="tab-css">
    <ul class="nav nav-tabs">
        <li class="active tabs"><a data-toggle="tab" href="#createlist">Create Listing</a></li>
        <li class="tabs"><a data-toggle="tab" href="#reserved">Reserved</a></li>
    </ul>
    <div class="tab-content">
        <div id="createlist" class="tab-pane fade in active">
            <h2>Create Listings</h2>
            <br>
            
            <p>Here we will be able to create your listings for renters to claim</p>

            <!-- FORM FOR LISTER TO CREATE A LISTING -->
            
            <form>

              <div class="form-group">
                    <label for="spots">Spaces (1-10):</label><br />
                    <input type="number" id="spots" name="tentacles" min="1" max="10" required>
                </div>

                <div class="form-group">
                    <label for="cost">Pricing (hourly):</label><br />
                    <input type="number" id="cost" name="cost" min="1" max="100" required>
                </div>

                <div class="form-group">
                    <label for="distance">Distance (miles):</label><br />
                    <input type="number" id="distance" name="cost" min="1" max="10" required>
                </div>

                <div class="form-group">
                    <label for="exampleFormControlInput1">Address</label>
                    <input type="text" class="form-control" id="address" placeholder="1234 Home Ave" required>
                </div>

                <div class="form-group">
                    <label for="description">Description (optional)</label>
                    <textarea class="form-control" id="description" rows="4"></textarea>
                </div>
                <button type="button" (click)="submitList()" class="btn btn-secondary">Submit</button>
            </form>

        </div>
        <div id="reserved" class="tab-pane fade">
            <h2>Reserved</h2>
            <br>
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Spaces</th>
                    <th scope="col">Address</th>
                    <th scope="col">Price</th>
                    <th scope="col">Distance</th>
                    <th scope="col">Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>0000 HelloWorld Ave</td>
                    <td>$15</td>
                    <td>5 miles</td>
                    <td>This is example text for this listing</td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
