<div class="tab-css">
    <ul class="nav nav-tabs">
        <li class="active tabs"><a data-toggle="tab" href="#createlist">My Listings</a></li>
        <li class="tabs"><a data-toggle="tab" href="#createres">My Reservations</a></li>
        <li class="tabs"><a data-toggle="tab" href="#activeres">Reserved</a></li>

    </ul>
    <div class="tab-content">
        <div id="createlist" class="tab-pane fade in active">
            <h2>Listings</h2>
            <br>
            <p>Here we will be able to see all of the existing Listings provided from Renters</p>
        </div>
        <div id="createres" class="tab-pane fade">
            <h2>My Reservations</h2>
            <br>
            <p>Here is where we will be able to see all reservations that have been accepted by this particular user...</p>
        </div>
        <div id="activeres" class="tab-pane fade">
            <h2>Reserved</h2>
            <br>
            <p>Here is where we will be able to see all reservations that have been accepted by this particular user...</p>
        </div>
    </div>
</div>
