<div class="container" style="clear:both; margin-top:30px">
  
  <h1>{{message}}</h1>
  <button (click) = "newMessage()">change message</button>
  
  <!-- Login Modal -->
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loginModal"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="username-input" class="col-form-label">Username:</label>
              <input type="text" class="form-control" id="username_login" name="username_login" [(ngModel)] = "username_login">
            </div>
            <div class="form-group">
              <label for="password-input" class="col-form-label">Password:</label>
              <input type="text" class="form-control" id="password_login" name="password_login" [(ngModel)] = "password_login">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" (click)="submitLogin()" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Register Modal -->
  <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="registerModal"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="username-input" class="col-form-label">Username:</label>
              <input type="text" class="form-control" id="username_register" name="username_register" [(ngModel)] = "username_register">
            </div>
            <div class="form-group">
              <label for="password-input" class="col-form-label">Password:</label>
              <input type="text" class="form-control" id="password_register" name="password_register" [(ngModel)] = "password">
            </div>
            <div class="form-group">
              <label for="username-input" class="col-form-label">Role:</label>
              <input type="text" class="form-control" id="role_register" name="role_register" [(ngModel)] = "role">
            </div>
            <div class="form-group">
              <label for="password-input" class="col-form-label">Phone:</label>
              <input type="text" class="form-control" id="phone_register" name="phone_register" [(ngModel)] = "phone">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" (click)="submitSignup()" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>
  <div style="float:left; width: 20%; margin-left:40%; padding:auto">
    <button type="button" class="btn btn-primary" style="float:left; margin-left:37px;margin-top: 20px"
      data-toggle="modal" data-target="#loginModal" data-whatever="Login">Login</button>
    <button type="button" class="btn btn-primary" style="margin-left:10px;float:left;margin-top: 20px"
      data-toggle="modal" data-target="#registerModal" data-whatever="Signup">Signup</button>
  </div>
</div>

<app-create-listing *ngIf="(username != '')"></app-create-listing>>