/* You can add global styles to this file, and also import other style files */

body {
    background-image: url(https://images.pexels.com/photos/1037995/pexels-photo-1037995.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    color: #011627;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;

}

a {
  color: #EBEBEB;
}

p {
  color: fuchsia;
}

h1   {
    color: #313944;
    
}

img {
  vertical-align: middle;
  width: 70px;
}

button {
  background-color: #011627;
  border: none;
  color: #FDFFFC;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.center {
  float:unset; 
  width: 20%; 
  margin-left:44%; 
  padding:auto
}